body {
	margin:50px auto;
	max-width:650px;
	line-height:1.6;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size:18px;
	color:#333;
	border-radius: 4px;
	background-color: #eee
}
h1,h2,h3 { 
	line-height:1.2;
	text-align: center;
}

input {
	width: 50%;
}

.retries {
	display: none;
}

.start-prompt {
	display: none;
}

.non {
	width: 75px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size:18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.m1-button, .m2-button {
	background-color: white;
}

.k1-button, .k2-button {
	background-color: white;
}

.button-select-prompt {
	height: 400px;
	width: 100px;
	position: fixed;
	top:35%;
	margin-top: -200px;
	right:0;
}

.button-select {
	height: 400px;
	width: 100px;
	position: fixed;
	top:50%;
	margin-top: -200px;
	right:0;
}

.m1-button, .m2-button, .k1-button, .k2-button {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width:75px;
	height:75px;
	border: 3px solid #333;
	border-radius: 7px;
	margin: 5px;
	color: #333;

}
.active {
	background-color: #12b53d;
}

.selection {
	background-color: #fff200;
	color: #333;
}


.acc-bar {
	height:30px;
	width:650px;
	margin:0 auto;
	background: #666;
	position: relative;
}

.hit-50, .hit-100, .hit-300 {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	height:10px;
}

.hit-middle {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top: -30px;
	height: 30px;
	width: 5px;
	background: #fff;

}

.hit-50 {
	top:10px;
	width:650px;
	background: #fa0;
}

.hit-100 {
	width:400px;
	background: #0f0;
}

.hit-300 {
	top:-10px;
	width:200px;
	background: #0cf;
}