body {
	margin:50px auto;
	max-width:650px;
	line-height:1.6;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size:18px;
	color:#333;
	border-radius: 4px;
	background-color: #eee
}
h1,h2,h3 { 
	line-height:1.2;
	text-align: center;
}

input {
	width: 50%;
}

.retries {
	display: none;
}

.start-prompt {
	display: none;
}

.non, .tbpm, .offset{
	width: 75px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size:18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.m1-button, .m2-button {
	background-color: white;
}

.k1-button, .k2-button {
	background-color: white;
}

.button-select-prompt {
	height: 400px;
	width: 100px;
	position: fixed;
	top:35%;
	margin-top: -200px;
	right:0;
}

.button-select, .metronome {
	height: 400px;
	width: 100px;
	position: fixed;
	top:50%;
	margin-top: -200px;
}

.button-select {
	right:0;
}

.metronome {
	left:0;
	background-color:#666;
	border-radius:7px;
}

.m1-button, .m2-button, .k1-button, .k2-button, .beat-border0,
.beat-border1, .beat-border2, .beat-border3 {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width:75px;
	height:75px;
	border: 3px solid #333;
	border-radius: 7px;
	margin: 5px;
	color: #333;

}


.beat0, .beat2, .beat3, .beat1 {
	opacity: 0;
	background-color: #12b53d;
	width:75px;
	height:75px;
	border-radius: 7px;
}

.active {
	background-color: #12b53d;
}

.selection {
	background-color: #fff200;
	color: #333;
}


/*
#hit-window {
	height:30px;
	width:650px;
*/


.acc-bar {
	display:block;
	position:relative;
	height:30px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	background: #666;
}

.hit-50, .hit-100, .hit-300 {
	display: none;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	height:10px;
}

.hit-middle {
	margin-left: auto;
	margin-right: auto;
	margin-top:-20px;
	top: 0px;
	height: 30px;
	width: 3px;
	background: #0cf;
}

.hit-middle-triangle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top:10px solid #0cf;

}

.hit-50 {
	top:10px;
	width:650px;
	background: #fa0;
}

.hit-100 {
	width:400px;
	background: #0f0;
}

.hit-300 {
	top:-10px;
	width:200px;
	background: #0cf;
}

.hit, .hit-late, .hit-early{
	position:absolute;
	opacity: 0.5;
	background-blend-mode: screen;
    top: 0px;
	height: 30px;
	width: 3px;

}

.hit {
	background-color: #fff;
}

.hit-late {
	width: 5px;
	margin-left:-5px;
	background-color: #d22;
	opacity: 0;
}

.hit-early {
	width: 5px;
	margin-left:400px;
	background-color: #d22;
	opacity: 0;
}